<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DonAppétit - Login</title>
  <link rel="stylesheet" href="iniciosesionn.css">
  <link rel="icon" type="image/png" href="../Logo/LogoDon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@1,504&display=swap" rel="stylesheet">



</head>
<body>
  <div class="container">
    <!-- LOGO -->
    <div class="logo">

      <img src="../Logo/LogoDon.png" alt="Logo DonAppétit">
    </div>

    <!-- TÍTULO -->
    <h1 class="brand">DonAppétit</h1>
    <p class="subtitle">Ingresar</p>

    <!-- FORMULARIO -->
    <form class="login-form">
      <label for="username">Nombre de usuario</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Contraseña</label>
      <input type="password" id="password" name="password" required>

      <a href="#" class="forgot">
      ¿No recuerdas tu contraseña?<br>
      <span>Recuperar Contraseña</span>
      </a>

      <button type="submit" class="btn">Iniciar Sesión</button>
      <p class="alt-register">
        ¿No tienes cuenta? <a href="../RegistroView/registro.html">Registrarse</a>
      </p>
      
    </form> 
  </div>
</body>
</html>